Source: vimb
Section: web
Priority: optional
Maintainer: Martin Atukunda <matlads@gmail.com>
Build-Depends: debhelper-compat (= 13), libwebkit2gtk-4.0-dev, libsoup2.4-dev
Standards-Version: 4.5.1
Homepage: https://fanglingsu.github.io/vimb/
Vcs-Browser: https://github.com/matlads/vimb-debian
Vcs-Git: https://github.com/matlads/vimb-debian.git
Rules-Requires-Root: no

Package: vimb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: vim like browser
 Vimb is a fast and lightweight vim-like web browser based on the webkit web
 browser engine and the GTK toolkit. Vimb is modal like the great vim editor
 and also easily configurable during normal usage. Vimb is mostly keyboard
 driven and does not distract you from your daily work. The goal of Vimb is
 to build a completely keyboard-driven, efficient and pleasurable
 browsing-experience with low memory and CPU usage that is intuitive to use
 for Vim users.
